.bg-primary {
    background-color: #2980b9 !important;
}

.text-primary {
    color: #2980b9 !important;
}

#or {
    color: #bdc3c7;
}

#or:before {
    right: 0.5em;
    margin-left: -50%;
}

#or:after {
    left: 0.5em;
    margin-right: -50%;
}

#or:before,
#or:after {
    background-color: #bdc3c7;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.logo-login {
    width: 190px;
}